In [1]:
from pyspark import SparkContext
from graphframes import *

In [2]:

from pyspark import *
from pyspark.sql import *

In [3]:

import findspark

In [4]:
sc=SparkContext().getOrCreate()

In [5]:
sqlcontext=SQLContext(sc)

In [6]:
df=sqlcontext.read.format("csv").option("header","true").csv("tweets_file2.csv")

In [7]:
df.registerTempTable("Twitter")

In [8]:
df.head()

Row(id='1', user_description='None', user_location='None', coordinates='None', text="RT @michaeljohns: What a great pleasure to speak extensively with @DanRodimer tonight! He's the dynamic, #Trump-supporting #GOP candidate i…", user_name='Tiffpop1', user_created='2019-12-09T02:11:02', user_followers='16', id_str='1.24778E+18', created='2020-04-08T06:41:27', retweet_count='0', polarity='0.266666667', subjectivity='0.416666667')

In [17]:
vertices=sqlcontext.sql('select id, user_location from Twitter where id between 1 and 100')

In [18]:
vertices.show()

+---+--------------------+
| id|       user_location|
+---+--------------------+
|  1|                None|
|  2|                None|
|  3|      Menlo Park, CA|
|  4|           Wisconsin|
|  5|                null|
|  6|              Dudley|
|  7|Yarraville, Melbo...|
|  8|                None|
|  9|          Dallas, TX|
| 10|                None|
| 11|Small Town, North...|
| 12|      Georgetown, TX|
| 13|                None|
| 14|                None|
| 15|                  NJ|
| 16|Berkeley, California|
| 17|         Seattle, WA|
| 18|                null|
| 19|           Wisconsin|
| 20|Winter Haven Florida|
+---+--------------------+
only showing top 20 rows

In [27]:
edges=sqlcontext.sql('select `user_name` as src, `user_followers` as dst from Twitter')

In [28]:
edges.show()

+-------------------+----+
|                src| dst|
+-------------------+----+
|           Tiffpop1|  16|
|           DebsMAGA|3077|
|        shafithinks| 639|
|    Bernard96328555| 573|
|               null|null|
|               null|null|
|               null|null|
|               null|null|
|               null|null|
|2020-04-08T06:41:28| 0.0|
|               null|null|
|2020-04-08T06:41:28| 0.0|
|     Yarravilleemma| 172|
|           Bennus_H| 358|
|       PrisGalstaun| 312|
|          arbrown16|  26|
|       BethRoseboro| 405|
|        jaylenbrass|  55|
|        socialist89|  11|
|               null|null|
+-------------------+----+
only showing top 20 rows

In [29]:
from graphframes import *

In [30]:
graph=GraphFrame(vertices,edges)

In [31]:
graph.vertices.show()

+---+--------------------+
| id|       user_location|
+---+--------------------+
|  1|                None|
|  2|                None|
|  3|      Menlo Park, CA|
|  4|           Wisconsin|
|  5|                null|
|  6|              Dudley|
|  7|Yarraville, Melbo...|
|  8|                None|
|  9|          Dallas, TX|
| 10|                None|
| 11|Small Town, North...|
| 12|      Georgetown, TX|
| 13|                None|
| 14|                None|
| 15|                  NJ|
| 16|Berkeley, California|
| 17|         Seattle, WA|
| 18|                null|
| 19|           Wisconsin|
| 20|Winter Haven Florida|
+---+--------------------+
only showing top 20 rows

In [32]:
graph.edges.show()

+-------------------+----+
|                src| dst|
+-------------------+----+
|           Tiffpop1|  16|
|           DebsMAGA|3077|
|        shafithinks| 639|
|    Bernard96328555| 573|
|               null|null|
|               null|null|
|               null|null|
|               null|null|
|               null|null|
|2020-04-08T06:41:28| 0.0|
|               null|null|
|2020-04-08T06:41:28| 0.0|
|     Yarravilleemma| 172|
|           Bennus_H| 358|
|       PrisGalstaun| 312|
|          arbrown16|  26|
|       BethRoseboro| 405|
|        jaylenbrass|  55|
|        socialist89|  11|
|               null|null|
+-------------------+----+
only showing top 20 rows

In [33]:
graph.inDegrees.show()

+-------------------+--------+
|                 id|inDegree|
+-------------------+--------+
|                296|      57|
|                675|      26|
|1247777583757815808|       1|
|               2294|       1|
|               1436|      10|
|               1572|      10|
|                467|      34|
|                691|      30|
|                829|      13|
|1247780353911058432|       1|
|1247780983991984128|       1|
|               4032|       4|
|               2904|       3|
|1247897874043564039|       1|
|               3606|       2|
|               3414|       3|
|        JeffTracy13|       1|
|              85022|       1|
|               1090|      17|
|2009-02-28T01:14:27|       6|
+-------------------+--------+
only showing top 20 rows

In [34]:
graph.outDegrees.show()

+-------------------+---------+
|                 id|outDegree|
+-------------------+---------+
|       CreateDebate|        1|
|      RobinRobinw63|        2|
|2016-10-18T21:08:28|        1|
|       MusicCityHwy|        1|
|          queenjord|        1|
|      Hena786Zarine|        1|
|2010-05-02T16:21:00|        2|
|    Reading4Leading|        2|
|         psim284876|        3|
|            hopps_t|        2|
|1247778645034151941|        1|
|2020-04-08T06:49:46|        2|
|     PatelPatel9162|        1|
|2020-04-08T06:54:17|        1|
|       alwaysjathis|        1|
|2011-06-09T14:50:16|        1|
|        lokigirl459|        1|
|      GideonNeptune|        2|
|            BeeGigi|        1|
|        lazylynxcat|        1|
+-------------------+---------+
only showing top 20 rows

In [35]:
graph.triangleCount().show()

+-----+---+--------------------+
|count| id|       user_location|
+-----+---+--------------------+
|    0| 51|          Denver, CO|
|    0|  7|Yarraville, Melbo...|
|    0| 15|                  NJ|
|    0| 54|Occupied Duwamish...|
|    0| 11|Small Town, North...|
|    0| 29|                null|
|    0| 29|                cats|
|    0| 69|           Ohio, USA|
|    0| 42|                None|
|    0| 73|       Kentucky, USA|
|    0| 87|                null|
|    0| 64|                None|
|    0|  3|      Menlo Park, CA|
|    0| 30|                None|
|    0| 34|       Manhattan, NY|
|    0| 34|      #Destiny2 wonk|
|    0| 59|         Nevada, USA|
|    0|  8|                None|
|    0| 22|                None|
|    0| 22|                null|
+-----+---+--------------------+
only showing top 20 rows

In [36]:
pageRankgraph=graph.pageRank(resetProbability=0.15,maxIter=4)

In [37]:
pageRankgraph.vertices.show()

+---+--------------------+------------------+
| id|       user_location|          pagerank|
+---+--------------------+------------------+
| 42|                None|1.0000000000000002|
| 52|               India|1.0000000000000002|
| 75|West Region, Sing...|1.0000000000000002|
| 62|                None|1.0000000000000002|
| 82|                None|1.0000000000000002|
|  1|                None|1.0000000000000002|
| 32|      Wisconsin, USA|1.0000000000000002|
| 20|Winter Haven Florida|1.0000000000000002|
| 20|        Cairo, Egypt|1.0000000000000002|
| 68|37.783253,-122.39343|1.0000000000000002|
| 58|                None|1.0000000000000002|
| 61|                null|1.0000000000000002|
| 24| Melbourne, Victoria|1.0000000000000002|
|  8|                None|1.0000000000000002|
| 30|                None|1.0000000000000002|
| 92|                None|1.0000000000000002|
| 64|                None|1.0000000000000002|
| 45|   Deep in thought☁️|1.0000000000000002|
| 45|                null|1.0000000000000002|
| 60|                None|1.0000000000000002|
+---+--------------------+------------------+
only showing top 20 rows

In [38]:
pageRankgraph.edges.show()

+---+---+------+
|src|dst|weight|
+---+---+------+
+---+---+------+

In [39]:
graph.vertices.write.parquet("vertices")
graph.edges.write.parquet("edges")

In [40]:
result=graph.labelPropagation(maxIter=5)
result.select("id","label").show()

+---+-------------+
| id|        label|
+---+-------------+
| 42| 128849018880|
| 52| 283467841538|
| 75| 506806140928|
| 62|1451698946048|
| 82| 919123001344|
|  1|1236950581248|
| 32|1211180777472|
| 20|1254130450432|
| 20|1254130450432|
| 68| 704374636545|
| 58|1005022347264|
| 61| 498216206337|
| 24|1194000908288|
|  8| 223338299392|
| 30| 163208757248|
| 92| 970662608896|
| 64| 146028888064|
| 45|1683627180032|
| 45|1683627180032|
| 60| 704374636544|
+---+-------------+
only showing top 20 rows